<!DOCTYPE html>
<html>
<head>
  <title>Slide Navbar</title>
  <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="main">    
    <input type="checkbox" id="chk" aria-hidden="true">

      <div class="login">
        <form method="POST" action="/login">
          <label for="chk" aria-hidden="true">Login</label>
          <input type="text" name="Username" placeholder="Username" required="">
          <input type="password" name="password" placeholder="Password" required="">
          <button>Login</button>

                    <div class="signup-link">Not a member? <a href="/signup">Signup now</a></div>
        </form>
      </div>
  </div>
</body>
</html>